In [1]:
import os
import sys
spark_home = os.environ.get('SPARK_HOME', None)
sys.path.insert(0, os.path.join(spark_home, 'python/lib/py4j-0.10.4-src.zip'))
sys.path.insert(0, os.path.join(spark_home, 'python'))
exec(open(os.path.join(os.environ["SPARK_HOME"], 'python/pyspark/shell.py')).read())
os.environ['PYSPARK_SUBMIT_ARGS'] = '--jars postgresql-42.2.0.jar --driver-class-path postgresql-42.2.0.jar'

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 2.2.1
      /_/

Using Python version 3.6.4 (default, Jan 16 2018 18:10:19)
SparkSession available as 'spark'.

In [7]:
import pandas as pdIntegerType
import numpy as np
import shutil
import re
import itertools
import time
from datetime import datetime
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext
from pyspark.sql.functions import regexp_replace, col
from pyspark.sql.types import Row, StructField, StructType, StringType, IntegerType, FloatType, DateType,TimestampType
sqlContext = SQLContext(sc)
filename="taq10000"
filename1="taqquote20141201"
date=filename1[-8:]
outputpath="output"

In [14]:
with open(filename) as file:
    i=0
    for line in file:
        if i>=10:
            break
        a=line
        print(a)
        i+=1

 N12012014 Record Count :    652244797

040000011PA               000004000000000001000006000000000002R    PP000000000000000412 C

064047655PA               000004000000000001000004651000000001R    PP000000000002475712 C

064141829PA               000004001000000002000004651000000001R    PP000000000002488912 C

064142162PA               000004001000000002000004650000000002R    PP000000000002489012 C

075611338PA               000004001000000002000004266000000001R    PP000000000003625212 C

080000346KA               000002211000000004000004316000000001R    KK000000000003703302 C

082058536PA               000004001000000002000004265000000002R    PP000000000005072312 C

082837354PA               000004000000000001000004265000000002R    PP000000000005751312 C

082842020PA               000004000000000001000004651000000001R    PP000000000005760162 C

In [19]:
a[0:9]#date

'082842020'

In [25]:
a[9]#exchange

'P'

In [28]:
a[10:16]#symbol

'A     '

In [30]:
a[26:37]#bid price

'00000400000'

In [36]:
a[37:44]#bid size

'0000001'

In [39]:
a[44:55] #ask price

'00000465100'

In [41]:
a[55:62] #ask size

'0000001'

In [43]:
a[62]#Quote Condition

'R'

In [45]:
a[63:67] #market maker

'    '

In [49]:
a[67]#bid exchange

'P'

In [51]:
a[68]#ask exchange

'P'

In [53]:
a[69:85]#sequence number

'0000000000274721'

In [56]:
a[85]#National BBO Ind

'0'

In [58]:
a[86]#NASDAQ BBO Ind

'0'

In [46]:
a[87]#Quote Cancel/Correction

' '

In [15]:
a[88]#Source of quote

'C'

In [16]:
str_date=a[0:9]
date_date = datetime.strptime(date+a[0:9], "%Y%m%d%H%M%S%f")
date_date

datetime.datetime(2014, 12, 1, 8, 28, 42, 20000)

In [8]:
raw_data=sc.textFile(filename)
header = raw_data.first()
raw_data=raw_data.filter(lambda line: line != header)
data=raw_data.map(lambda a: (datetime.strptime(date+a[0:9], "%Y%m%d%H%M%S%f"),a[9],a[10:16],int(a[26:37])/10000,int(a[37:44]),int(a[44:55])/10000,int(a[55:62]),a[62],a[63:67],a[67],a[68],a[69:85],a[85],a[86],a[87],a[88]))
schema = StructType([StructField("date", TimestampType(), False),StructField("exchange", StringType(), False),StructField("symbol",StringType(),False),StructField("bid price",FloatType(),False),StructField("bid size",IntegerType(),False),StructField("ask price",FloatType(),False),StructField("ask size",IntegerType(),False),StructField("Quote Condition",StringType(),False),StructField("market maker",StringType(),False),StructField("bid exchange",StringType(),False),StructField("ask exchange",StringType(),False),StructField("sequence number",StringType(),False),StructField("National BBO Ind",StringType(),False),StructField("NASDAQ BBO Ind",StringType(),False),StructField("Quote Cancel/Correction",StringType(),False),StructField("Source of quote",StringType(),False)])

In [10]:
data_df = sqlContext.createDataFrame(data, schema)

In [17]:
data_df.show()

+--------------------+--------+------+---------+--------+---------+--------+---------------+------------+------------+------------+----------------+----------------+--------------+-----------------------+---------------+
|                date|exchange|symbol|bid price|bid size|ask price|ask size|Quote Condition|market maker|bid exchange|ask exchange| sequence number|National BBO Ind|NASDAQ BBO Ind|Quote Cancel/Correction|Source of quote|
+--------------------+--------+------+---------+--------+---------+--------+---------------+------------+------------+------------+----------------+----------------+--------------+-----------------------+---------------+
|2014-12-01 04:00:...|       P|A     |     40.0|       1|     60.0|       2|              R|            |           P|           P|0000000000000004|               1|             2|                       |              C|
|2014-12-01 06:40:...|       P|A     |     40.0|       1|    46.51|       1|              R|            |           P|           P|0000000000024757|               1|             2|                       |              C|
|2014-12-01 06:41:...|       P|A     |    40.01|       2|    46.51|       1|              R|            |           P|           P|0000000000024889|               1|             2|                       |              C|
|2014-12-01 06:41:...|       P|A     |    40.01|       2|     46.5|       2|              R|            |           P|           P|0000000000024890|               1|             2|                       |              C|
|2014-12-01 07:56:...|       P|A     |    40.01|       2|    42.66|       1|              R|            |           P|           P|0000000000036252|               1|             2|                       |              C|
|2014-12-01 08:00:...|       K|A     |    22.11|       4|    43.16|       1|              R|            |           K|           K|0000000000037033|               0|             2|                       |              C|
|2014-12-01 08:20:...|       P|A     |    40.01|       2|    42.65|       2|              R|            |           P|           P|0000000000050723|               1|             2|                       |              C|
|2014-12-01 08:28:...|       P|A     |     40.0|       1|    42.65|       2|              R|            |           P|           P|0000000000057513|               1|             2|                       |              C|
|2014-12-01 08:28:...|       P|A     |     40.0|       1|    46.51|       1|              R|            |           P|           P|0000000000057601|               6|             2|                       |              C|
|2014-12-01 08:34:...|       P|A     |     40.0|       1|    42.66|       1|              R|            |           P|           P|0000000000061812|               1|             2|                       |              C|
|2014-12-01 08:34:...|       P|A     |    40.01|       2|    42.66|       1|              R|            |           P|           P|0000000000062092|               1|             2|                       |              C|
|2014-12-01 08:35:...|       T|A     |     33.0|       1|      0.0|       0|              R|            |           T|           T|0000000000062351|               0|             2|                       |              C|
|2014-12-01 08:35:...|       T|A     |     33.0|       1|    50.13|       1|              R|            |           T|           T|0000000000062352|               0|             2|                       |              C|
|2014-12-01 08:52:...|       P|A     |    40.01|       2|    42.76|       1|              R|            |           P|           P|0000000000075420|               1|             2|                       |              C|
|2014-12-01 08:52:...|       P|A     |    40.01|       2|    42.86|       1|              R|            |           P|           P|0000000000075437|               1|             2|                       |              C|
|2014-12-01 08:52:...|       P|A     |    40.01|       2|    42.96|       1|              R|            |           P|           P|0000000000075478|               1|             2|                       |              C|
|2014-12-01 08:52:...|       P|A     |    40.01|       2|    43.06|       1|              R|            |           P|           P|0000000000075506|               1|             2|                       |              C|
|2014-12-01 08:52:...|       P|A     |    40.01|       2|    43.16|       1|              R|            |           P|           P|0000000000075531|               6|             2|                       |              C|
|2014-12-01 08:52:...|       P|A     |    40.01|       2|    43.26|       1|              R|            |           P|           P|0000000000075563|               0|             2|                       |              C|
|2014-12-01 08:52:...|       P|A     |     42.0|       1|    43.26|       1|              R|            |           P|           P|0000000000075612|               6|             2|                       |              C|
+--------------------+--------+------+---------+--------+---------+--------+---------------+------------+------------+------------+----------------+----------------+--------------+-----------------------+---------------+
only showing top 20 rows

In [28]:
url="jdbc:postgresql://dbbigdata.czzdxt0nkcse.us-east-2.rds.amazonaws.com:5432/bigData?user=linxy0331&password=xy...1234"

In [29]:
df=sqlContext.read.format("jdbc").options(url=url,dbtable="trading_20141201",driver="org.postgresql.Driver").load()
df.show()

+---+-----------+--------------------+
| id|          a|                   b|
+---+-----------+--------------------+
|  1|092930003PA|T-000000165000004...|
|  2|093001173NA|O-000027027000004...|
|  3|093001293DA|4-000007000000004...|
|  4|093001507TA|I-000000002000004...|
|  5|093001507TA|Q-000000002000004...|
|  6|093004113DA|@-000000100000004...|
|  7|093004113DA|@-000000100000004...|
|  8|093004149PA|Q-000000100000004...|
|  9|093004149PA|O-000000100000004...|
| 10|093004149PA|@-000000100000004...|
| 11|093004150KA|F-000000100000004...|
| 12|093004150TA|F-000000100000004...|
| 13|093004150TA|F-000000100000004...|
| 14|093004194DA|@-000000800000004...|
| 15|093004197DA|@-000000900000004...|
| 16|093004230TA|@-000000100000004...|
| 17|093004230TA|@-000000100000004...|
| 18|093004231NA|@-000000200000004...|
| 19|093004301DA|4-I00000000900000...|
| 20|093004313DA|@-000000200000004...|
+---+-----------+--------------------+
only showing top 20 rows

In [23]:
data_df.write.jdbc(url,"quote_20141201",mode="overwrite")

In [24]:
df_1=sqlContext.read.format("jdbc").options(url=url,dbtable="quote_20141201",driver="org.postgresql.Driver").load()
df_1.show()

+--------------------+--------+------+---------+--------+---------+--------+---------------+------------+------------+------------+----------------+----------------+--------------+-----------------------+---------------+
|                date|exchange|symbol|bid price|bid size|ask price|ask size|Quote Condition|market maker|bid exchange|ask exchange| sequence number|National BBO Ind|NASDAQ BBO Ind|Quote Cancel/Correction|Source of quote|
+--------------------+--------+------+---------+--------+---------+--------+---------------+------------+------------+------------+----------------+----------------+--------------+-----------------------+---------------+
|2014-12-01 09:35:...|       T|A     |    42.42|       2|    42.49|       2|              R|            |           T|           T|0000000000551830|               0|             0|                       |              C|
|2014-12-01 09:35:...|       P|A     |    42.47|       2|    42.49|       2|              R|            |           P|           P|0000000000552293|               6|             0|                       |              C|
|2014-12-01 09:35:...|       K|A     |    42.47|       1|    42.48|       1|              R|            |           K|           K|0000000000553062|               0|             0|                       |              C|
|2014-12-01 09:35:...|       T|A     |    42.47|       1|    42.49|       2|              R|            |           T|           T|0000000000553085|               0|             0|                       |              C|
|2014-12-01 09:35:...|       P|A     |    42.47|       3|    42.49|       2|              R|            |           P|           P|0000000000553086|               6|             0|                       |              C|
|2014-12-01 09:35:...|       Y|A     |    42.45|       2|     42.5|       2|              R|            |           Y|           Y|0000000000553088|               0|             0|                      A|              C|
|2014-12-01 09:35:...|       P|A     |    42.47|       4|    42.49|       2|              R|            |           P|           P|0000000000553821|               6|             0|                       |              C|
|2014-12-01 09:35:...|       K|A     |    42.47|       2|    42.48|       1|              R|            |           K|           K|0000000000553837|               0|             0|                       |              C|
|2014-12-01 09:35:...|       T|A     |    42.47|       2|    42.49|       2|              R|            |           T|           T|0000000000553838|               0|             0|                       |              C|
|2014-12-01 09:35:...|       B|A     |    42.37|       1|    42.59|       2|              R|            |           B|           B|0000000000554471|               0|             0|                       |              C|
|2014-12-01 09:35:...|       B|A     |    42.37|       2|    42.59|       2|              R|            |           B|           B|0000000000554472|               0|             0|                       |              C|
|2014-12-01 09:35:...|       K|A     |    42.47|       2|    42.53|       1|              R|            |           K|           K|0000000000555521|               6|             0|                       |              C|
|2014-12-01 09:35:...|       T|A     |    42.47|       3|    42.49|       2|              R|            |           T|           T|0000000000555523|               0|             0|                       |              C|
|2014-12-01 09:35:...|       T|A     |    42.48|       1|    42.49|       2|              R|            |           T|           T|0000000000555525|               6|             0|                       |              C|
|2014-12-01 04:00:...|       P|A     |     40.0|       1|     60.0|       2|              R|            |           P|           P|0000000000000004|               1|             2|                       |              C|
|2014-12-01 06:40:...|       P|A     |     40.0|       1|    46.51|       1|              R|            |           P|           P|0000000000024757|               1|             2|                       |              C|
|2014-12-01 06:41:...|       P|A     |    40.01|       2|    46.51|       1|              R|            |           P|           P|0000000000024889|               1|             2|                       |              C|
|2014-12-01 06:41:...|       P|A     |    40.01|       2|     46.5|       2|              R|            |           P|           P|0000000000024890|               1|             2|                       |              C|
|2014-12-01 07:56:...|       P|A     |    40.01|       2|    42.66|       1|              R|            |           P|           P|0000000000036252|               1|             2|                       |              C|
|2014-12-01 08:00:...|       K|A     |    22.11|       4|    43.16|       1|              R|            |           K|           K|0000000000037033|               0|             2|                       |              C|
+--------------------+--------+------+---------+--------+---------+--------+---------------+------------+------------+------------+----------------+----------------+--------------+-----------------------+---------------+
only showing top 20 rows

In [30]:
df=sqlContext.read.format("jdbc").options(url=url,dbtable='information_schema.tables',driver="org.postgresql.Driver").load()
df.show()

+-------------+------------+--------------------+----------+----------------------------+--------------------+-------------------------+------------------------+----------------------+------------------+--------+-------------+
|table_catalog|table_schema|          table_name|table_type|self_referencing_column_name|reference_generation|user_defined_type_catalog|user_defined_type_schema|user_defined_type_name|is_insertable_into|is_typed|commit_action|
+-------------+------------+--------------------+----------+----------------------------+--------------------+-------------------------+------------------------+----------------------+------------------+--------+-------------+
|      bigData|      public|      quote_20141201|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|      bigData|      public|    trading_20141204|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|      bigData|  pg_catalog|             pg_type|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|      bigData|      public|      trade_20141202|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|      bigData|  pg_catalog|            pg_roles|      VIEW|                        null|                null|                     null|                    null|                  null|                NO|      NO|         null|
|      bigData|      public|      trade_20141203|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|      bigData|  pg_catalog|         pg_settings|      VIEW|                        null|                null|                     null|                    null|                  null|                NO|      NO|         null|
|      bigData|      public|    trading_20141201|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|      bigData|      public|    trading_20141205|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|      bigData|      public|    temporal_trading|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|      bigData|  pg_catalog|            pg_rules|      VIEW|                        null|                null|                     null|                    null|                  null|                NO|      NO|         null|
|      bigData|  pg_catalog|    pg_user_mappings|      VIEW|                        null|                null|                     null|                    null|                  null|                NO|      NO|         null|
|      bigData|      public|      trade_20141201|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|      bigData|  pg_catalog|pg_stat_xact_user...|      VIEW|                        null|                null|                     null|                    null|                  null|                NO|      NO|         null|
|      bigData|  pg_catalog|    pg_stat_archiver|      VIEW|                        null|                null|                     null|                    null|                  null|                NO|      NO|         null|
|      bigData|  pg_catalog|    pg_stat_bgwriter|      VIEW|                        null|                null|                     null|                    null|                  null|                NO|      NO|         null|
|      bigData|  pg_catalog|        pg_attribute|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|      bigData|  pg_catalog|             pg_proc|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|      bigData|  pg_catalog|            pg_class|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|      bigData|  pg_catalog|          pg_attrdef|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
+-------------+------------+--------------------+----------+----------------------------+--------------------+-------------------------+------------------------+----------------------+------------------+--------+-------------+
only showing top 20 rows

In [36]:
from sqlalchemy import create_engine,MetaData,inspect,Table
import pandas as pd
engine=create_engine('postgresql://linxy0331:xy...1234@dbbigdata.czzdxt0nkcse.us-east-2.rds.amazonaws.com:5432/bigData')
inspector = inspect(engine)
m=MetaData()

In [32]:
inspector.get_table_names()

['quote_20141201',
 'trading_20141204',
 'trade_20141202',
 'trade_20141203',
 'trading_20141201',
 'trading_20141205',
 'temporal_trading',
 'trade_20141201',
 'trading_20141202',
 'trading_20141208',
 'trading_20141203',
 'trading_20141209']

In [38]:
table=Table("trading_20141204",m)

In [41]:
table.drop(engine)
inspector = inspect(engine)
inspector.get_table_names()

['quote_20141201',
 'trade_20141202',
 'trade_20141203',
 'trading_20141201',
 'trading_20141205',
 'temporal_trading',
 'trade_20141201',
 'trading_20141202',
 'trading_20141208',
 'trading_20141203',
 'trading_20141209']

In [42]:
# for i in inspector.get_table_names():
#     table=Table(i,m)
#     table.drop(engine)
# inspector = inspect(engine)
# inspector.get_table_names()

[]