In [15]:
import os
import sys
spark_home = os.environ.get('SPARK_HOME', None)
sys.path.insert(0, os.path.join(spark_home, 'python/lib/py4j-0.10.4-src.zip'))
sys.path.insert(0, os.path.join(spark_home, 'python'))
exec(open(os.path.join(os.environ["SPARK_HOME"], 'python/pyspark/shell.py')).read())
os.environ['PYSPARK_SUBMIT_ARGS'] = '--jars postgresql-42.2.1.jar --driver-class-path postgresql-42.2.1.jar'

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 2.2.1
      /_/

Using Python version 2.7.14 (default, Oct 16 2017 17:29:19)
SparkSession available as 'spark'.

In [39]:
import pandas as pd
import numpy as np
import shutil
import re
import itertools
import time
from datetime import datetime
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext
from pyspark.sql.functions import regexp_replace, col
from pyspark.sql.types import Row, StructField, StructType, StringType, IntegerType, FloatType, DateType,TimestampType
sqlContext = SQLContext(sc)
filename="taqquote20141202"
#filename="taq10000"
date=filename[-8:]
date

'20141202'

# Process Data

In [50]:
raw_data=sc.textFile(filename)
header = raw_data.first()
raw_data=raw_data.filter(lambda line: line != header)
data=raw_data.map(lambda a: (datetime.strptime(date+a[0:9], "%Y%m%d%H%M%S%f"),a[9],a[10:16],float(a[26:37])/10000,int(a[37:44]),float(a[44:55])/10000,int(a[55:62]),a[62],a[63:67],a[67],a[68],a[69:85],a[85],a[86],a[87],a[88]))
schema = StructType([StructField("date", TimestampType(), False),StructField("exchange", StringType(), False),StructField("symbol",StringType(),False),StructField("bid price",FloatType(),False),StructField("bid size",IntegerType(),False),StructField("ask price",FloatType(),False),StructField("ask size",IntegerType(),False),StructField("Quote Condition",StringType(),False),StructField("market maker",StringType(),False),StructField("bid exchange",StringType(),False),StructField("ask exchange",StringType(),False),StructField("sequence number",StringType(),False),StructField("National BBO Ind",StringType(),False),StructField("NASDAQ BBO Ind",StringType(),False),StructField("Quote Cancel/Correction",StringType(),False),StructField("Source of quote",StringType(),False)])
data_df = sqlContext.createDataFrame(data, schema).orderBy("date")

# Connect database

In [2]:
url_sqlalchemy="postgresql://administrator:cornellorie@rds-postgresql.clahixkkwlcw.us-east-1.rds.amazonaws.com:5432/stockdata"
url_pyspark="jdbc:postgresql://rds-postgresql.clahixkkwlcw.us-east-1.rds.amazonaws.com:5432/stockdata?user=administrator&password=cornellorie"

In [3]:
from sqlalchemy import create_engine,MetaData,inspect,Table
import pandas as pd
engine=create_engine(url_sqlalchemy)
m=MetaData()

show tables

In [4]:
inspector = inspect(engine)
inspector.get_table_names()

[u'temporal_trading',
 u'trade_20141201',
 u'trade_20141202',
 u'trade_20141203',
 u'trading',
 u'trade_20141204',
 u'quote_20141201',
 u'trade_20141209',
 u'trade_20141210',
 u'trade_20141211',
 u'quote_20141208',
 u'quote_20141209',
 u'bam_mini',
 u'temporal_trading_2',
 u'trade_20141205',
 u'trade_20141208',
 u'quote_20141210',
 u'temporal_table',
 u'trading_2',
 u'quote_20141202',
 u'quote_20141204',
 u'quote_20141205',
 u'trade_20141212',
 u'trade_20141215',
 u'trade_20141216',
 u'trade_20141217']

In [5]:
#table=Table("quote_20141200",m)
#table.drop(engine)
# inspector = inspect(engine)
# inspector.get_table_names()

write pyspark dataframe in database

In [52]:
data_df.write.jdbc(url_pyspark,"quote_"+"20141200",mode="overwrite")

show tables

In [57]:
inspector = inspect(engine)
inspector.get_table_names()

[u'quote_20141201',
 u'temporal_trading',
 u'trade_20141201',
 u'trade_20141202',
 u'trade_20141203',
 u'trading',
 u'trade_20141204',
 u'bam_mini',
 u'temporal_trading_2',
 u'temporal_table',
 u'trading_2',
 u'quote_20141202',
 u'quote_20141204',
 u'quote_20141205']

In [54]:
tablename="quote_20141204"
df_1=sqlContext.read.format("jdbc").options(url=url_pyspark,dbtable=tablename,driver="org.postgresql.Driver").load()

In [17]:
df1=pd.read_sql_query('select * from quote_20141204 LIMIT 200',con=engine)
df1

,date,exchange,symbol,bid price,bid size,ask price,ask size,Quote Condition,market maker,bid exchange,ask exchange,sequence number,National BBO Ind,NASDAQ BBO Ind,Quote Cancel/Correction,Source of quote
0,2014-12-04 15:30:35.104,Z,AAL,49.73,5,49.75,4,R,,Z,Z,0000000020274733,,0,,N
1,2014-12-04 15:30:35.104,Z,AAL,49.73,5,49.75,3,R,,Z,Z,0000000020274734,,0,,N
2,2014-12-04 15:30:35.104,J,AAL,49.73,6,49.74,1,R,,J,J,0000000020274753,,0,,N
3,2014-12-04 15:30:35.105,K,AAL,49.73,4,49.75,3,R,,K,K,0000000020274789,,0,,N
4,2014-12-04 15:30:35.107,T,AAL,49.73,12,49.74,13,R,,T,T,0000000020274861,,0,,N
5,2014-12-04 15:30:35.109,J,AAL,49.73,5,49.74,1,R,,J,J,0000000020274939,,0,,N
6,2014-12-04 15:30:35.109,T,AAL,49.73,8,49.74,13,R,,T,T,0000000020274952,,3,,N
7,2014-12-04 15:30:35.110,K,AAL,49.73,2,49.75,3,R,,K,K,0000000020274976,,0,,N
8,2014-12-04 15:30:35.141,Z,AAL,49.73,3,49.75,3,R,,Z,Z,0000000020275175,,0,,N
9,2014-12-04 15:30:35.141,J,AAL,49.73,4,49.74,1,R,,J,J,0000000020275177,,0,,N
10,2014-12-04 15:30:35.148,J,AAL,49.73,5,49.74,1,R,,J,J,0000000020275192,,0,,N
11,2014-12-04 15:30:35.549,K,AAL,49.73,2,49.75,4,R,,K,K,0000000020275575,,0,,N
12,2014-12-04 15:30:35.582,Z,AAL,49.73,3,49.75,4,R,,Z,Z,0000000020275623,,0,,N
13,2014-12-04 15:30:36.421,Z,AAL,49.73,3,49.75,3,R,,Z,Z,0000000020276351,,0,,N
14,2014-12-04 15:30:36.821,K,AAL,49.73,2,49.75,3,R,,K,K,0000000020276625,,0,,N
15,2014-12-04 15:30:36.821,K,AAL,49.73,4,49.75,3,R,,K,K,0000000020276630,,0,,N
16,2014-12-04 15:30:36.821,Z,AAL,49.73,5,49.75,3,R,,Z,Z,0000000020276640,,0,,N
17,2014-12-04 15:30:36.821,K,AAL,49.73,5,49.75,3,R,,K,K,0000000020276641,,0,,N
18,2014-12-04 15:30:36.821,K,AAL,49.73,3,49.75,3,R,,K,K,0000000020276644,,0,,N
19,2014-12-04 15:30:36.821,Z,AAL,49.73,5,49.75,2,R,,Z,Z,0000000020276648,,0,,N
20,2014-12-04 15:30:36.821,J,AAL,49.73,6,49.74,1,R,,J,J,0000000020276651,,0,,N
21,2014-12-04 15:30:36.822,P,AAL,49.73,3,49.75,5,R,,P,P,0000000020276660,,0,,N
22,2014-12-04 15:30:36.825,K,AAL,49.73,3,49.75,4,R,,K,K,0000000020276681,,0,,N
23,2014-12-04 15:30:36.825,K,AAL,49.73,3,49.75,3,R,,K,K,0000000020276682,,0,,N
24,2014-12-04 15:30:36.831,K,AAL,49.73,3,49.75,4,R,,K,K,0000000020276747,,0,,N
25,2014-12-04 15:30:36.851,D,AAL,49.72,1,50.00,3,R,,D,D,0000000020276881,,0,,N
26,2014-12-04 15:30:37.146,Z,AAL,49.73,3,49.75,2,R,,Z,Z,0000000020277220,,0,,N
27,2014-12-04 15:30:37.146,J,AAL,49.73,5,49.74,1,R,,J,J,0000000020277222,,0,,N
28,2014-12-04 15:30:37.253,K,AAL,49.73,3,49.75,3,R,,K,K,0000000020277299,,0,,N
29,2014-12-04 15:30:37.256,K,AAL,49.73,3,49.75,4,R,,K,K,0000000020277320,,0,,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,2014-12-04 12:28:29.566,P,AAPL,116.47,5,116.49,3,R,,P,P,0000000012163218,,0,,N
19971,2014-12-04 12:28:29.566,X,AAPL,116.47,2,116.49,7,R,,X,X,0000000012163219,,0,,N
19972,2014-12-04 12:28:29.566,P,AAPL,116.47,5,116.49,6,R,,P,P,0000000012163220,,0,,N
19973,2014-12-04 12:28:29.566,P,AAPL,116.47,5,116.49,7,R,,P,P,0000000012163221,,0,,N
19974,2014-12-04 12:28:29.567,P,AAPL,116.47,5,116.49,8,R,,P,P,0000000012163222,,0,,N
19975,2014-12-04 12:28:29.567,P,AAPL,116.47,5,116.49,9,R,,P,P,0000000012163223,,0,,N
19976,2014-12-04 12:28:29.567,P,AAPL,116.47,5,116.49,10,R,,P,P,0000000012163224,,0,,N
19977,2014-12-04 12:28:29.567,P,AAPL,116.47,5,116.49,11,R,,P,P,0000000012163225,,0,,N
19978,2014-12-04 12:28:29.567,P,AAPL,116.47,4,116.49,11,R,,P,P,0000000012163226,,0,,N
19979,2014-12-04 12:28:29.567,T,AAPL,116.47,7,116.49,26,R,,T,T,0000000012163227,,0,,N
19980,2014-12-04 12:28:29.567,T,AAPL,116.47,7,116.49,27,R,,T,T,0000000012163228,,2,,N
19981,2014-12-04 12:28:29.567,K,AAPL,116.47,4,116.49,2,R,,K,K,0000000012163229,,0,,N
19982,2014-12-04 12:28:29.567,T,AAPL,116.47,7,116.49,26,R,,T,T,0000000012163230,,2,,N
19983,2014-12-04 12:28:29.567,T,AAPL,116.47,7,116.49,25,R,,T,T,0000000012163231,,2,,N
19984,2014-12-04 12:28:29.567,T,AAPL,116.47,7,116.49,24,R,,T,T,0000000012163232,,2,,N
19985,2014-12-04 12:28:29.567,D,AAPL,116.36,6,116.49,1,R,,D,D,0000000012163233,,0,,N
19986,2014-12-04 12:28:29.568,A,AAPL,116.48,7,116.51,1,R,,A,A,0000000012163234,,3,,N
19987,2014-12-04 12:28:29.568,A,AAPL,116.48,4,116.51,1,R,,A,A,0000000012163235,,3,,N
19988,2014-12-04 12:28:29.568,Z,AAPL,116.47,5,116.49,14,R,,Z,Z,0000000012163236,,0,,N
19989,2014-12-04 12:28:29.568,A,AAPL,116.48,4,116.51,1,R,,A,A,0000000012163237,,0,,N
19990,2014-12-04 12:28:29.568,T,AAPL,116.47,7,116.48,1,R,,T,T,0000000012163238,,2,,N
19991,2014-12-04 12:28:29.568,X,AAPL,116.47,2,116.48,1,R,,X,X,0000000012163239,,0,,N
19992,2014-12-04 12:28:29.568,X,AAPL,116.47,2,116.48,5,R,,X,X,0000000012163240,,2,,N
19993,2014-12-04 12:28:29.568,T,AAPL,116.47,7,116.48,5,R,,T,T,0000000012163241,,0,,N
19994,2014-12-04 12:28:29.568,T,AAPL,116.47,7,116.48,6,R,,T,T,0000000012163242,,2,,N
19995,2014-12-04 12:28:29.568,T,AAPL,116.47,7,116.48,7,R,,T,T,0000000012163243,,2,,N
19996,2014-12-04 12:28:29.568,B,AAPL,116.46,1,116.49,3,R,,B,B,0000000012163244,,0,,N
19997,2014-12-04 12:28:29.568,T,AAPL,116.47,7,116.48,12,R,,T,T,0000000012163245,,2,,N
19998,2014-12-04 12:28:29.568,T,AAPL,116.47,7,116.48,13,R,,T,T,0000000012163246,,2,,N
19999,2014-12-04 12:28:29.568,X,AAPL,116.47,7,116.48,5,R,,X,X,0000000012163247,,0,,N